<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" lang="hu" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>OTP Napi USD - HUF deviza vételi árfolyam</title>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
</head>

<body style="margin: 0;padding: 0;font-family: &quot;Source Sans Pro&quot;, sans-serif;font-size: 30px;text-align: center;">
<table width="700px" style="width: 700px;margin: 0 auto;text-align: left;padding: 15px;border: 0px;background-color: #fff;">
  <tr>
    <td>
      <a href="https://www.otpbank.hu/portal/hu/Arfolyamok/OTP">
        <img src="https://www.otpbank.hu/static/portal/sw/pic/OTPlogo_history_6.jpg" alt="OTP Logo">
      </a>
    </td>
  </tr>
  <tr>
    <td style="text-align: center;background: #f0f0f0;border: solid 1px #c5c5c5;border-radius: 4px;padding: 15px;margin-top: 20px;">

      <span style="font-size: 42px;font-weight: 600;line-height: 1.095;margin: 0;max-width: 577px;padding: 12px 5px;">1</span>
      <span>&nbsp;USD&nbsp;=&nbsp;</span>
      <span th:text="${latestExchangeData?.resultAmount}"
            style="font-size: 42px;font-weight: 600;line-height: 1.095;margin: 0;max-width: 577px;padding: 12px 5px;">1</span>
      <span>HUF</span>

      <p>
        (<span th:text="${previousExchangeData?.resultAmount}">1</span> HUF -
        <span th:text="${#dates.format(previousExchangeData?.exchangeRateDate, 'yyyy.MM.dd hh:mm')}">1 AUG 2017</span>)
      </p>
    </td>
  </tr>
</table>
</body>
</html>